{% extends 'Skeleton.html' %}
{% block title %} Home {% endblock %}
{% block body %}
<section>
<div class="container table-responsive">
  {% if user %}
    <table class="table table-bordered table-hover table-lg" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>F_Name</th>
          <th>E-mail</th>
          <th>Username</th>
          <th>Phone</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        {%for acc in user %}
        <tr>
          <td>{{ acc.F_Name }}</td>
          <td>{{ acc.E_mail }}</td>
          <td>{{ acc.Username }}</td>
          <td>{{ acc.Phone }}</td>
          <td>{{ acc.Address }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>NO DATA FOUND!!!!!!!!!</p>
{% endif %}
</div>
</section>
{% endblock %}